:root {
    --background: black
    --foreground: white
}

body {
    font-family: 'Inconsolata', monospace;
    color: var(--foreground);
    background-color: var(--background);
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}

#particles {
    position: fixed;
    inset: 0;
    z-index: -10;
}

#container {
    position: absolute;
    pointer-events: none;
    width: 100%;
    
}

#splash {
    text-align: center;
    position: relative;
    left: 7.5%;
    width: 85%;
}

a {
    pointer-events: all;
}

#main {
    text-align: center;
	margin: 0;
	cursor: default;
}

#age {
    display: inline-block;
    text-align: left;
}

#themeButton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.github-profile-badge-name {
    color: var(--foreground) !important;
}

#grid{
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    height: 100%;
    margin: 5;
}

.grid-item {
    text-align: center;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    outline: var(--foreground) solid 2px;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    width:auto;
}

.grid-item ul {
    text-align: left;
    font-size: large;
}

.grid-item::-webkit-scrollbar {
    display: none;
}

.commit {
	text-align: center;
	outline: var(--foreground) solid 2px;
	padding: 5px;
	margin: 10px;
	border-radius: 10px;
}