:root {
    --background: black
    --foreground: white
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Inconsolata', monospace;
    margin: 0;
    overflow: hidden;
}

#main {
    text-align: center;
	margin: 0;
	cursor: default;
}

#age {
    display: inline-block;
    width: 7em;
    text-align: left;
}

#themeButton {
    position: fixed;
    left: 5;
    top: 0;
    background: transparent;
    border: none;
    outline: none !important;
}

#lightbulb {
    font-size: 23;
}

#lightbulb:hover {
    cursor: pointer;
}


.lang_button:hover {
    text-decoration: underline;
    cursor: pointer;
}

#grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 100%;
    background-color: var(--background);
    margin: 5;
}

.grid-item {
    background-color: var(--background);
    outline: 5px solid var(--foreground);
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.grid-item::-webkit-scrollbar {
    display: none;
}