body {
    font-family: 'Inconsolata', monospace;
    color: white;
    background-color: black;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#particles {
    position: fixed;
    inset: 0;
    z-index: -10;
}

#container {
    position: absolute;
    pointer-events: none
}

a {
    pointer-events: all;
}

#main {
    text-align: center;
	margin: 0;
	cursor: default;
}

#age {
    display: inline-block;
    text-align: left;
}


.lang_button {
    pointer-events: all;
}

.lang_button:hover {
    text-decoration: underline;
    cursor: pointer;
}

#grid{
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    height: 100%;
    margin: 5;
}

.grid-item {
    text-align: center;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.grid-item p {
    font-size: larger;
    font-weight: bold;
}

.grid-item ul {
    text-align: left;
    font-size: large;
}

.grid-item::-webkit-scrollbar {
    display: none;
}